* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif
}

#header {
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b4a75;
    color:aliceblue;
}

#mainContainer {
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inputTxt{
    height: 10em;
    width: 80%;
    padding: 2%;
    margin: 3%;
}

#translate {
    margin: 2%;
    padding: 1%;
    background-color: #1b4a75;
    color: aliceblue;
}

#outputDiv {
    height: 10em;
    width: 80%;
    padding: 2%;
    margin: 2%;
    border: solid;
}

#footer {
    color:aliceblue;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1b4a75;
    
}

#footer p {
    text-align: center;
    width: 80%;
    padding: 1%;
    
}